@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");

.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.5s;
}

a {
  text-decoration: none;
}

select,
button,
input {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0.8rem;
}
